@import url('variables.css');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;  
    background-color: var(--bgColor);
  }
  
  .logo-and-title {
    display: flex;
    align-items: center;
  }
  
  .site-logo {
    width: 60px;  
    height: 60px; 
    margin-right: 20px;  
  }
  
  .site-title {
    font-size: 35px; 
    font-weight: bold;
    color: var(--black);
  }
  
  .header-icons {
    display: flex;
    gap: 30px;     
  }
  
  .icon-header {
    width: 40px;  
    height: 40px;  
    cursor: pointer;
    transition: filter 0.3s;
  }
  
  .icon-header:hover {
    transform: scale(1.5);  
    fill: var(--textColor);  
  }
  
  
  .header * {
    box-sizing: border-box;
  }
  
