:root {
    --bgColor: rgb(255 238 197);
    --textColor: #be0065;
    --black: #5b4f52;
    --incorrect: #860000;
    --hover: #5b4f52;
    --correct: #10af0a;
    --wrong-highlighted: #ffc0cb;
    --neon: #0298af;
}
