@import url('variables.css');

.contacts-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure popup is above other content */
}

.contacts-popup-things {
    background-color: var(--bgColor);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 70%;
    max-width: 1200px;
    height: 70vh;
    box-sizing: border-box;
    overflow: auto; /* Enable scrolling for large content */
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.752);
}

.contacts_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contacts-map-container, .contacts-contact-form-container {
    flex: 1;
}

.contacts-map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contacts-contact-form-container {
    background-color: var(--bgColor);
    padding: 20px 30px 10px 30px; /* Adjusted padding to add more space at the top */
    box-sizing: border-box;
    margin-bottom: 10px; /* Added margin-bottom to create space below the form */
}

.contacts-contact-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--textColor);
}

.contacts-contact-form {
    display: flex;
    flex-direction: column;
}

.contacts-contact-form input, .contacts-contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #ffffff;
    color: var(--textColor);
    border: 2px solid var(--textColor);
    font-size: 14px;
}

.contacts-contact-form input::placeholder, .contacts-contact-form textarea::placeholder {
    color: #121111;
}

.contacts-contact-form button {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--textColor);
    color: var(--bgColor);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: 10px; /* Added margin-top to create space above the button */
}

.contacts-contact-form button:hover {
    background-color: var(--textColor);
}

/* Media query for small screens */
@media (max-width: 768px) {
    .contacts-container {
        flex-direction: column;
    }

    .contacts-map-container {
        order: 2; /* Map goes below the contact form */
        width: 100%;
    }

    .contacts-contact-form-container {
        order: 1; /* Contact form goes above the map */
        width: 100%;
    }
}
