@import url('variables.css');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;  
    background-color: var(--bgColor);
    /* flex-wrap: wrap;   */
    text-align: center;  
    margin: 0px;
  }
  
  .logo-and-title {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .site-logo {
    width: 60px;  
    height: 60px; 
    margin-right: 20px;  
  }
  
  .site-title {
    font-size: 30px; 
    font-weight: 600;
    color: var(--black);
  }
  
  .header-icons {
    display: flex;
    gap: 30px;   
  }
  
  .icon-header {
    font-size: 1.5rem;
    /* cursor: pointer;
    transition: filter 0.3s; */
  }
  
  .icon-header:hover {
    transform: scale(1.5);  
    fill: var(--textColor);  
  }
  
  
  .header * {
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .logo-and-title {
        margin-bottom: 20px;
        justify-content: center;  
    }
}



