@import url('variables.css');

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    overflow: hidden; 
    
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background-color: var(--bgColor); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--black);
    box-sizing: border-box;
    overflow: auto; 
    max-height: 80%; 

}


.contact-container-developer h1 {
    color: var(--black);
}

.contact-container-developer p {
    font-size: 1rem;
}



.contact-container-developer {
    text-align: center;
    width: 100%;
}

.button-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    margin: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bgColor);
    color: var(--textColor);
   
    border: 2px solid var(--black);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.button i {
    margin: 8px;
}

.button:hover {
    background-color: var(--wrong-highlighted);
}

@media screen and (max-width: 600px) {
   
    .modal-content {
        width: 90%;
        margin: 10% auto;
        /* added max-height */
        max-height: 90%; 
        padding: 10px;
    }

    .button-grid {
        flex-direction: column;
        align-items: center;
    }

   

    .button {
        width: 80%;
        /* width: 40vw; */
    }
} 


